@{
    ViewData["Title"] = "Other";
}

<div class="text-center">
    <h1>Index</h1>
    <p class="h5">@ViewData["Message"]</p>
    <ul class="h5">
        <li>@ViewData["id"]</li>
        <li>@ViewData["name"]</li>
    </ul>
</div>
